{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
{% endblock %}
{% block content %}

    {% for image in images %}
        <img src="{{ image.name }}">
        {% if session.status==1 %}
            <a href="/gallery/deleteimagebyid/{{ image.id }}">Delete</a>
        {% endif %}
    {% else %}
        <h2>Pas de photos !</h2>
    {% endfor %}
{% endblock %}